In [1]:
import pandas as pd
import numpy as np

In [2]:
with open('/Users/varun/Desktop/Web Science/Assignment_7/simple-english-wikipedia.txt')as f:
    lines = f.readlines()

In [19]:
lines=str(lines)
lines

"['The Simple English Wikipedia is an English-language version of Wikipedia, an online encyclopedia, that is written in basic English. It was built on November 17, 2003. All of the articles in the Simple English Wikipedia need to use shorter sentences and easier words and grammar than the regular English Wikipedia. People with different needs use the Simple English Wikipedia. They include: students, children, adults, who might find it hard to learn or read. People who are learning English as a second language. Other people use the Simple English Wikipedia because the basic language helps them understand hard ideas or topics they do not know about. Many articles are shorter than the same articles in the English Wikipedia. Technical subjects use some terms which are not simple. Editors try to explain these terms in a simple way. This makes Simple English articles a good way to understand difficult articles from the ordinary English Wikipedia. If someone cannot understand an idea in complex English, they can read the Simple English article. When the Simple English Wikipedia began in 2003, the ordinary English Wikipedia already had 150,000 articles, and seven other Wikipedias in other languages had over 15,000 articles. Since the other Wikipedias already have so many articles, most Simple English articles take articles from other Wikipedias and make them simple; they are usually not new articles. Right now, the Simple English Wikipedia has 128,492 articles. As of December 2016, it was the 52nd largest Wikipedia.\\n']"

In [20]:
count=0
for i in lines:
    if i==" ":
        count+=1
Space_count=print("\" \"",",",count)

" " , 242

In [24]:
para=lines.lower()
para

"['the simple english wikipedia is an english-language version of wikipedia, an online encyclopedia, that is written in basic english. it was built on november 17, 2003. all of the articles in the simple english wikipedia need to use shorter sentences and easier words and grammar than the regular english wikipedia. people with different needs use the simple english wikipedia. they include: students, children, adults, who might find it hard to learn or read. people who are learning english as a second language. other people use the simple english wikipedia because the basic language helps them understand hard ideas or topics they do not know about. many articles are shorter than the same articles in the english wikipedia. technical subjects use some terms which are not simple. editors try to explain these terms in a simple way. this makes simple english articles a good way to understand difficult articles from the ordinary english wikipedia. if someone cannot understand an idea in complex english, they can read the simple english article. when the simple english wikipedia began in 2003, the ordinary english wikipedia already had 150,000 articles, and seven other wikipedias in other languages had over 15,000 articles. since the other wikipedias already have so many articles, most simple english articles take articles from other wikipedias and make them simple; they are usually not new articles. right now, the simple english wikipedia has 128,492 articles. as of december 2016, it was the 52nd largest wikipedia.\\n']"

In [25]:
para="".join(i for i in para if i.isalnum() )
print(para)

thesimpleenglishwikipediaisanenglishlanguageversionofwikipediaanonlineencyclopediathatiswritteninbasicenglishitwasbuiltonnovember172003allofthearticlesinthesimpleenglishwikipedianeedtouseshortersentencesandeasierwordsandgrammarthantheregularenglishwikipediapeoplewithdifferentneedsusethesimpleenglishwikipediatheyincludestudentschildrenadultswhomightfindithardtolearnorreadpeoplewhoarelearningenglishasasecondlanguageotherpeopleusethesimpleenglishwikipediabecausethebasiclanguagehelpsthemunderstandhardideasortopicstheydonotknowaboutmanyarticlesareshorterthanthesamearticlesintheenglishwikipediatechnicalsubjectsusesometermswhicharenotsimpleeditorstrytoexplainthesetermsinasimplewaythismakessimpleenglisharticlesagoodwaytounderstanddifficultarticlesfromtheordinaryenglishwikipediaifsomeonecannotunderstandanideaincomplexenglishtheycanreadthesimpleenglisharticlewhenthesimpleenglishwikipediabeganin2003theordinaryenglishwikipediaalreadyhad150000articlesandsevenotherwikipediasinotherlanguageshadover15000articlessincetheotherwikipediasalreadyhavesomanyarticlesmostsimpleenglisharticlestakearticlesfromotherwikipediasandmakethemsimpletheyareusuallynotnewarticlesrightnowthesimpleenglishwikipediahas128492articlesasofdecember2016itwasthe52ndlargestwikipedian

In [26]:
freq={"\" \"":count}
for i in para:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
freq

{'" "': 242,
 't': 85,
 'h': 68,
 'e': 169,
 's': 94,
 'i': 129,
 'm': 32,
 'p': 38,
 'l': 70,
 'n': 85,
 'g': 33,
 'w': 29,
 'k': 19,
 'd': 54,
 'a': 104,
 'u': 22,
 'v': 5,
 'r': 64,
 'o': 51,
 'f': 11,
 'c': 33,
 'y': 15,
 'b': 9,
 '1': 5,
 '7': 1,
 '2': 6,
 '0': 12,
 '3': 2,
 'j': 1,
 'x': 2,
 '5': 3,
 '8': 1,
 '4': 1,
 '9': 1,
 '6': 1}

In [27]:
type(freq)
tab= pd.DataFrame(freq.items(), columns=['Term','Term freq'])
tab.index=np.arange(1, len(tab)+1)
#tab

In [28]:
sum=tab['Term freq'].sum()
sum

1497

In [29]:
rf= tab['Term freq']
prob=[]
for col in rf:
    p=col/sum
    prob.append(p)

In [30]:
prob=[round(i,5) for i in prob]
prob
tab['probability']=prob
tab

   Term  Term freq  probability
1   " "        242      0.16166
2     t         85      0.05678
3     h         68      0.04542
4     e        169      0.11289
5     s         94      0.06279
6     i        129      0.08617
7     m         32      0.02138
8     p         38      0.02538
9     l         70      0.04676
10    n         85      0.05678
11    g         33      0.02204
12    w         29      0.01937
13    k         19      0.01269
14    d         54      0.03607
15    a        104      0.06947
16    u         22      0.01470
17    v          5      0.00334
18    r         64      0.04275
19    o         51      0.03407
20    f         11      0.00735
21    c         33      0.02204
22    y         15      0.01002
23    b          9      0.00601
24    1          5      0.00334
25    7          1      0.00067
26    2          6      0.00401
27    0         12      0.00802
28    3          2      0.00134
29    j          1      0.00067
30    x          2      0.00134
31    5          3      0.00200
32    8          1      0.00067
33    4          1      0.00067
34    9          1      0.00067
35    6          1      0.00067

In [97]:
df= tab.copy()
df=df[['Term','probability']]
pro=df.to_numpy()

array([0.16166, 0.05678, 0.04542, 0.11289, 0.06279, 0.08617, 0.02138,
       0.02538, 0.04676, 0.05678, 0.02204, 0.01937, 0.01269, 0.03607,
       0.06947, 0.0147, 0.00334, 0.04275, 0.03407, 0.00735, 0.02204,
       0.01002, 0.00601, 0.00334, 0.00067, 0.00401, 0.00802, 0.00134,
       0.00067, 0.00134, 0.002, 0.00067, 0.00067, 0.00067, 0.00067],
      dtype=object)

In [ ]:
word=0
char=""
f = open('generated.text',"w+") 
while word<5000:
    genchar = np.random.choice(pro[:,0],p=pro[:,1].astype(float))
    f.write(genchar)
    char=genchar
    if (genchar ==" "):
            word+=1
f.close()