In [1]:
import pandas as pd 
df = pd.read_csv("/Users/varun/Desktop/MAchine learning/Assignments/Assignment_2/dataset.csv") 
#print(df)
list(df.columns)
df.shape

(35, 4)

In [2]:
def del_duplicate(df):
    df2 = df.drop_duplicates(keep='first')
    return df2
#df2.shape

In [3]:
df2=del_duplicate(df)
df2.shape

(33, 4)

In [4]:
s=(df['Radius (cm)'] == 0).values.any()
s

True

In [5]:
print(df.loc[df['Radius (cm)']  == 0])
print(df.loc[df['Weight (grams)'] == 0])

    Colour  Radius (cm)  Weight (grams) Fruit (class)
27  Yellow          0.0             137          Pear
33  Yellow          0.0             135          Pear
    Colour  Radius (cm)  Weight (grams) Fruit (class)
29  Yellow          2.4               0         Lemon
34   Green          2.5               0         Apple

In [6]:
def fill_values(df):
    for col in df.columns:
        if(col == 'Radius (cm)'):
            a=df.loc[df['Radius (cm)'] == 0]
            cl=a['Fruit (class)']
            cl =cl.values.tolist()
            cl=set(cl)
            cl=list(cl)
            c=df.loc[df['Fruit (class)']==cl[0]]
            me=c['Radius (cm)'].mean()
            me=(round(me,2))
            df['Radius (cm)']=df['Radius (cm)'].replace(0, me)
        elif(col == 'Weight (grams)'):
            a=df.loc[df['Weight (grams)'] == 0]
            cl=a['Fruit (class)']
            cl =cl.values.tolist()
            cl=set(cl)
            cl=list(cl)
            c=df.loc[df['Fruit (class)']==cl[0]]
            me=c['Weight (grams)'].mean()
            me=(round(me,2))
            df['Weight (grams)']=df['Weight (grams)'].replace(0, me)
    return df

fill_values(df)

    Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green         4.30          122.00          Pear
1    Green         4.60          152.00          Pear
2    Green         3.10           85.00         Apple
3    Green         3.60          173.00          Pear
4    Green         2.50           65.00         Lemon
5    Green         2.50           70.00         Apple
6    Green         2.70           73.00         Apple
7    Green         4.50          110.00          Pear
8    Green         2.50           86.00         Apple
9    Green         2.40           68.00         Lemon
10   Green         4.20          126.00          Pear
11     Red         3.70          101.00         Apple
12     Red         3.70          100.00         Apple
13     Red         3.40           80.00         Apple
14  Yellow         3.20           79.00         Apple
15  Yellow         3.10           69.00         Lemon
16  Yellow         2.10           64.00         Apple
17  Yellow         2.60           58.00         Lemon
18  Yellow         2.10           40.00         Lemon
19  Yellow         2.30           60.00         Lemon
20  Yellow         4.20          105.00          Pear
21  Yellow         2.10           40.00         Lemon
22  Yellow         3.20           64.00         Lemon
23  Yellow         2.90           53.00         Lemon
24  Yellow         4.10          135.00          Pear
25  Yellow         5.20          142.00          Pear
26  Yellow         2.30           60.00         Lemon
27  Yellow         3.63          137.00          Pear
28  Yellow         3.00           98.00         Apple
29  Yellow         2.40           76.33         Lemon
30  Yellow         4.10           56.00         Lemon
31  Yellow         4.10           80.00         Apple
32  Yellow         5.20          141.00          Pear
33  Yellow         3.63          135.00          Pear
34   Green         2.50           76.33         Apple

In [7]:
def transform_nominal(data):
    mf= pd.get_dummies(data['Colour'])
    data = pd.concat([data,mf], axis =1).reindex(data.index)
    data.drop('Colour', axis=1, inplace=True)
    return data

transform_nominal(df)

    Radius (cm)  Weight (grams) Fruit (class)  Green  Red  Yellow
0          4.30          122.00          Pear      1    0       0
1          4.60          152.00          Pear      1    0       0
2          3.10           85.00         Apple      1    0       0
3          3.60          173.00          Pear      1    0       0
4          2.50           65.00         Lemon      1    0       0
5          2.50           70.00         Apple      1    0       0
6          2.70           73.00         Apple      1    0       0
7          4.50          110.00          Pear      1    0       0
8          2.50           86.00         Apple      1    0       0
9          2.40           68.00         Lemon      1    0       0
10         4.20          126.00          Pear      1    0       0
11         3.70          101.00         Apple      0    1       0
12         3.70          100.00         Apple      0    1       0
13         3.40           80.00         Apple      0    1       0
14         3.20           79.00         Apple      0    0       1
15         3.10           69.00         Lemon      0    0       1
16         2.10           64.00         Apple      0    0       1
17         2.60           58.00         Lemon      0    0       1
18         2.10           40.00         Lemon      0    0       1
19         2.30           60.00         Lemon      0    0       1
20         4.20          105.00          Pear      0    0       1
21         2.10           40.00         Lemon      0    0       1
22         3.20           64.00         Lemon      0    0       1
23         2.90           53.00         Lemon      0    0       1
24         4.10          135.00          Pear      0    0       1
25         5.20          142.00          Pear      0    0       1
26         2.30           60.00         Lemon      0    0       1
27         3.63          137.00          Pear      0    0       1
28         3.00           98.00         Apple      0    0       1
29         2.40           76.33         Lemon      0    0       1
30         4.10           56.00         Lemon      0    0       1
31         4.10           80.00         Apple      0    0       1
32         5.20          141.00          Pear      0    0       1
33         3.63          135.00          Pear      0    0       1
34         2.50           76.33         Apple      1    0       0

In [25]:
from sklearn.preprocessing import MinMaxScaler
def normalise_minmax(data):
    scaler = MinMaxScaler()
    a=df[['Radius (cm)','Weight (grams)']]
    normalized_data = scaler.fit_transform(a)
    return(normalized_data)   

normalise_minmax(df)

array([[0.70967742, 0.61654135],
       [0.80645161, 0.84210526],
       [0.32258065, 0.33834586],
       [0.48387097, 1.        ],
       [0.12903226, 0.18796992],
       [0.12903226, 0.22556391],
       [0.19354839, 0.2481203 ],
       [0.77419355, 0.52631579],
       [0.12903226, 0.34586466],
       [0.09677419, 0.21052632],
       [0.67741935, 0.64661654],
       [0.51612903, 0.45864662],
       [0.51612903, 0.45112782],
       [0.41935484, 0.30075188],
       [0.35483871, 0.29323308],
       [0.32258065, 0.21804511],
       [0.        , 0.18045113],
       [0.16129032, 0.13533835],
       [0.        , 0.        ],
       [0.06451613, 0.15037594],
       [0.67741935, 0.4887218 ],
       [0.        , 0.        ],
       [0.35483871, 0.18045113],
       [0.25806452, 0.09774436],
       [0.64516129, 0.71428571],
       [1.        , 0.76691729],
       [0.06451613, 0.15037594],
       [0.49354839, 0.72932331],
       [0.29032258, 0.43609023],
       [0.09677419, 0.27315789],
       [0.64516129, 0.12030075],
       [0.64516129, 0.30075188],
       [1.        , 0.7593985 ],
       [0.49354839, 0.71428571],
       [0.12903226, 0.27315789]])