In [1]:
import pandas as pd

In [2]:
def mean(sample):
    return sum(sample)/len(sample)

In [4]:
mean([81,6,30,48,48,3,31,4,26,28,14,1])

26.666666666666668

In [7]:
import statistics as st

In [15]:
st.median([23,1,33,23,48,53,30,24,39,1])

27.0

In [10]:
st.mean([81,6,30,48,48,3,31,4,26,28,14,1])

26.666666666666668

In [18]:
st.mode([120,123,130,48,248,137,137,94,126,98,64,137])

137

In [22]:
st.variance([12,13,30,48,47,73,31,94,26,18,24,20])

635.1515151515151

In [23]:
st.stdev([22,31,21,4,17,17,31,34,21,12.5,24.7,21])

8.396265403575136

In [24]:
def mean(sample):
    return sum(sample)/len(sample)
mean([12,13,30,48,47,73,31,94,26,18,24,20])

36.333333333333336

In [113]:
import numpy as np
list= [12,13,30,48,47,73,31,94,26,18,24,20]
list1=[22,31,21,4,17,17,31,34,21,12.5,24.7,21]
print(np.mean(list))
print(np.var(list))
print(np.std(list1))

36.333333333333336
582.2222222222222
8.038812101299543

In [72]:
import datetime
class User:
    
    def __init__(self,firstname,dateOfBirth):
        self.firstname=firstname
        self.dateOfBirth=dateOfBirth
    def setFirstname(self):
        self.firstname = "Varun"
        print(self.firstname)
    def getFirstname(self):
        return self.firstname
    def getAge(self):
        today = datetime.date.today()
        age = today.year - self.dateOfBirth.year
        if today < datetime.date(today.year, self.dateOfBirth.month, self.dateOfBirth.day):
            age-=1
        return age
    
user = User("Abc",datetime.date(1997,11,4)) #year,month,day
print(user.setFirstname())
print(user.getFirstname())
print(user.getAge())

Varun
None
Varun
24

In [74]:
import pandas as pd
  
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'y_original': [10,62,64,81]}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
  
# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']
  
# Using 'Address' as the column name
# and equating it to the list
df['sqrt'] = address
  
# Observe the result
print(df)

     Name  y_original    Address
0     Jai          10      Delhi
1  Princi          62  Bangalore
2  Gaurav          64    Chennai
3    Anuj          81      Patna

In [81]:
import pandas as pd
import numpy as np
df= pd.read_csv("/Users/varun/Downloads/data.csv")
df['sqrt(y)']= np.sqrt(df['y_original'])
df.head(5)

   y_original  y_predicted   sqrt(y)
0    3.888889     5.717660  1.972027
1    4.555556     6.365723  2.134375
2    5.222222     7.013786  2.285218
3    5.888889     7.661848  2.426703
4    6.555556     8.309911  2.560382

In [79]:
df['sqrt(y)']= np.sqrt(df['y_original'])

In [82]:
print(df)

     y_original  y_predicted    sqrt(y)
0      3.888889     5.717660   1.972027
1      4.555556     6.365723   2.134375
2      5.222222     7.013786   2.285218
3      5.888889     7.661848   2.426703
4      6.555556     8.309911   2.560382
..          ...          ...        ...
295  200.555556   196.896143  14.161764
296  201.222222   197.544205  14.185282
297  201.888889   198.192268  14.208761
298    1.888889   198.840331   1.374369
299    1.888889   199.488393   1.374369

[300 rows x 3 columns]

In [112]:
import pandas as pd
import numpy as np
import matplotlib as plt
df= pd.read_csv("/Users/varun/Downloads/visualization.csv")
counts=df['NOC'].value_counts()
counts.head(50)

United States of America      615
Japan                         586
Australia                     470
People's Republic of China    401
Germany                       400
France                        377
Canada                        368
Great Britain                 366
Italy                         356
Spain                         324
ROC                           318
Brazil                        291
Netherlands                   274
Republic of Korea             223
New Zealand                   202
Poland                        195
Argentina                     180
South Africa                  171
Mexico                        155
Hungary                       155
Ukraine                       152
Egypt                         133
Sweden                        129
Belgium                       125
India                         117
Czech Republic                117
Ireland                       116
Switzerland                   115
Belarus                       104
Denmark                       103
Turkey                        102
Romania                        99
Norway                         92
Kazakhstan                     92
Israel                         85
Portugal                       85
Serbia                         83
Kenya                          78
Greece                         75
Austria                        72
Cuba                           69
Chinese Taipei                 67
Islamic Republic of Iran       66
Colombia                       64
Uzbekistan                     63
Dominican Republic             61
Jamaica                        60
Nigeria                        59
Tunisia                        57
Croatia                        57
Name: NOC, dtype: int64